%span
  First Name:
  = current_user.first_name
%br

%span
  Last Name:
  = current_user.last_name
%br

%span
  Gender:
  = current_user.gender
%br

%span
  Email:
  = current_user.email
%br

%span
  Phone:
  = current_user.phone
%br
  
%span
  Address:
  = current_user.address['address']
%br

%span
  Address Expanded:
  = current_user.address['address_expanded']
%br

%span
  Region:
  = current_user.address['region']
%br

%span
  City:
  = current_user.address['city']
%br

%span
  Post Code:
  = current_user.address['postcode']
%br

%span
  Country:
  = current_user.address['country']
%br

= link_to "Dashboard", dashboard_path
