%h1
  Welcome to Ruby On Rails E-Shop
%h2
  This application demonstrates the Log in with Wyngle functionality
%p
  After you log in with Wyngle, you will have access to #{link_to 'the dashboard', dashboard_path} of this application.
  Dashboard is protected and you cannot access it, unless you log in.
%p
  There, on dashboard, you will see that RoR E-Shop has identified you with the help of Wyngle.
  Moreover, you will see a link to #{link_to 'Settings', settings_path}.
  This link is also protected, and you cannot access it unless you log in with Wyngle. On #{link_to 'Settings', settings_path},
  you will see the data that Wyngle has provided for you after you have logged in.
%p
  = link_to "Log In With Wyngle", "/auth/wyngle"
