!!!
%html
  %head>
    %title
      RorEshop
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - flash.each do |type, message|
      %div{class: "alert #{type}"}
        = message
  = yield